<div>
  <div>
    <h1>
      List of all messages
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new message
    </h2>

    <form action="/insert_message" method="post">

            <div>
        <label for="recipient_id_box">
          Recipient
        </label>
              <select id="recipient_id_box" name="query_recipient_id" class="form-select">
                <% User.all.order(:last_name).each do |a_user| %>
                <% next if a_user.id == @current_user.id %>
                  <option value="<%= a_user.id %>">
                    <%= a_user.first_name %> <%= a_user.last_name %>
                  </option>
                <% end %>
              </select>
            </div>


          <div class="form-group">
      <label for="body_box" class="form-label mt-4">Message</label>

      <textarea class="form-control" id="body_box" name="query_body" rows="5"></textarea>
    </div>



      <button>
        Create message
      </button>
    </form>
  </div>
</div>
<hr>

<h1>Messages</h1>




<% @threads.each do |thread_key, messages| %>
  <div class="thread">
    <h2>Conversation between <%= User.find(thread_key[0]).first_name %> and <%= User.find(thread_key[1]).first_name %></h2>
    <% messages.each do |message| %>
      <div class="message">
        <p><%= message.body %></p>
                <p>From: <%= message.sender.first_name %></p>
        <p>To: <%= message.recipient.first_name %></p> 
                          <p>Sent: <%= message.created_at.strftime("%-d %b %Y, at %-l:%M %p") %></p>
      </div>
    <% end %>
  </div>
<% end %>
