<div class="container">


    <div class="col-12 text-center p-3">
      <h1 class="mt-5">
        Notes
      </h1>
    </div>

    <div class="gap-2">
  <a href="/new_note">
  <button class="btn btn-lg btn-dark" type="button">
  Add new note
  </button>
  </a>
</div>

    <div class="col-md-12 mx-auto py-4">

      <div>
<%= will_paginate @posts, class: "flickr_pagination" %>
      </div>

      <div>
        <table class="table table-hover table-striped table-fixed">
          <thead>
            <tr class="table-active text-center">
              <th scope="row">
                Date
              </th>

              <th scope="row">
                Patient name
              </th>

              <th scope="row">
                Service
              </th>

              <th scope="row">
                Note
              </th>

              <th scope="row">
                Provider
              </th>

              <th scope="row">
              </th>
            </tr>
          </thead>

          <tbody>
            <% @notes.each do |a_note| %>
              <tr class="table-secondary">
                <td>
                  <%= a_note.date.strftime("%b %d, %Y") %>
                </td>

                <td>
                  <%= a_note.patient.first_name %> <%= a_note.patient.last_name %>
                </td>

                <td>
                  <%= a_note.service.duration %> min <%= a_note.service.title %>
                </td>

                <td>
                  <%= a_note.body.truncate(110, separator: ' ') %>
                </td>

                <td>
                  <%= a_note.user.first_name %>
                </td>

                <td>
                  <a href="/notes/<%= a_note.id %>">
                    Show details
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>

</div>
