<div>
  <div>
    <h1>
      List of all notes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new note
    </h2>

    <form action="/insert_note" method="post">
      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body">
      </div>

      <div>
        <label for="patient_id_box">
          Patient
        </label>

        <input type="text" id="patient_id_box" name="query_patient_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="service_id_box">
          Service
        </label>

        <input type="text" id="service_id_box" name="query_service_id">
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="time" id="time_box" name="query_time">
      </div>

      <button>
        Create note
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Body
        </th>

        <th>
          Patient
        </th>

        <th>
          User
        </th>

        <th>
          Service
        </th>

        <th>
          Date
        </th>

        <th>
          Time
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_notes.each do |a_note| %>
      <tr>
        <td>
          <%= a_note.id %>
        </td>

        <td>
          <%= a_note.body %>
        </td>

        <td>
          <%= a_note.patient_id %>
        </td>

        <td>
          <%= a_note.user_id %>
        </td>

        <td>
          <%= a_note.service_id %>
        </td>

        <td>
          <%= a_note.date %>
        </td>

        <td>
          <%= a_note.time %>
        </td>

        <td>
          <%= time_ago_in_words(a_note.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_note.updated_at) %> ago
        </td>

        <td>
          <a href="/notes/<%= a_note.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
