
<div class="container mt-5">

<%= month_calendar(events: @matching_calendar_patients) do |date, calendar_patients| %>
<div class="card-header">
  <%= date.day %>
  </div>

  <% calendar_patients.each do |a_session| %>
<div>
<a href="/patients/<%= a_session.patient.id %>" class="btn btn-outline-light btn-sm">
<small><%= a_session.patient.first_name %> <%= a_session.patient.last_name %>
<br><em><%= a_session.service.duration %> min</em></small></a>
</div>

<% end %>

<% end %>



</div>
