<div class="container">
  <div>



<div class="row">
  <div class="col-6">
    <div class="mt-3">
      <a href="javascript:history.back()" class="btn btn btn-secondary btn-sm">
        Go back
      </a>
    </div>
  </div>
  
  <div class="col-6">
    <% if @current_user.admin == true %>
      <div class="text-end mt-3">
        <a href="/delete_note/<%= @the_note.id %>" class="btn btn-outline-danger mb-3">
          Delete note
        </a>
      </div>
    <% end %>
  </div>
</div>





  <div class="container">
    <h1 class="text-center my-4">Patient Note Details</h1>

    <!-- Patient Name -->
    <div class="row mb-3">
      <div class="col-sm-3 fw-bold">Patient Name:</div>
      <div class="col-sm-9">
      <strong><%= @the_note.patient.first_name %> <%= @the_note.patient.last_name %></strong>
      <a class="btn btn-outline-primary btn-sm ms-3" href="/patients/<%= @the_note.patient.id %>">patient details</a>
      </div>
    </div>

    <!-- Provider Name -->
    <div class="row mb-3">
      <div class="col-sm-3 fw-bold">Provider Name:</div>
      <div class="col-sm-9"><%= @the_note.user.first_name %></div>
    </div>

    <!-- Date and Time -->
    <div class="row mb-3">
      <div class="col-sm-3 fw-bold">Date:</div>
      <div class="col-sm-9">April 8, 2023 at 2:30 PM</div>
    </div>

    <!-- Note Body -->
    <div class="row mb-3">
      <div class="col-sm-3 fw-bold">Session notes:</div>
      <div class="col-sm-9">
      <%= @the_note.body %>
      </div>
    </div>

    <!-- Added On -->
    <div class="row mb-3">
      <div class="col-sm-3 fw-bold">Note added on:</div>
      <div class="col-sm-9"><%= @the_note.created_at.strftime("%B %e, %Y at %l:%M %p") %></div>
    </div>

        <!-- If edited -->
        <% if @the_note.created_at != @the_note.updated_at %>
    <div class="row mb-3">
      <div class="col-sm-3 fw-bold">Edited on:</div>
      <div class="col-sm-9"><%= @the_note.updated_at.strftime("%B %e, %Y at %l:%M %p") %></div>
    </div>
    <% end %>

    <!-- Edit Note Body, needs to make it work -->
    <div class="row mb-3">
      <div class="col-sm-3 fw-bold">
      <label for="body_box" class="form-label">Edit your note here:</label>
      </div>
      <div class="col-sm-9">
      <form action="/modify_note/<%= @the_note.id %>" method="post">
      <textarea type="text" id="body_box" name="query_body" class="form-control" rows="5"><%= @the_note.body %></textarea>
      </div>
    </div>

    <button class="btn btn-primary mb-4">Save Changes</button>
    </form>
    
  </div>


<% if false == true %>
<div class="container row pt-5">
  <div class="col-lg-4 offset-lg-4">
    <h2>Edit note</h2>

    <form action="/modify_note/<%= @the_note.id %>" method="post">

      <div class="mb-3">
        <label for="body_box" class="form-label">Body</label>
        <textarea type="text" id="body_box" name="query_body" class="form-control" rows="5"><%= @the_note.body %></textarea>
      </div>

      <div class="mb-3">
        <label for="patient_id_box" class="form-label">Patient</label>
        <input type="text" id="patient_id_box" name="query_patient_id" value="<%= @the_note.patient_id %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="user_id_box" class="form-label">User</label>
        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_note.user_id %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="service_id_box" class="form-label">Service</label>
        <input type="text" id="service_id_box" name="query_service_id" value="<%= @the_note.service_id %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="date_box" class="form-label">Date</label>
        <input type="date" id="date_box" name="query_date" value="<%= @the_note.date %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="time_box" class="form-label">Time</label>
        <input type="time" id="time_box" name="query_time" value="<%= @the_note.time %>" class="form-control">
      </div>

      <button class="btn btn-primary">Update note</button>

    </form>
  </div>
</div>

<% end %>
