<div class="container">
  <div>
    <h1>
      Note #<%= @the_note.id %> details
    </h1>

    <div>
      <div>
        <a href="/notes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_note/<%= @the_note.id %>">
          Delete note
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @the_note.body %>
      </dd>

      <dt>
        Patient
      </dt>
      <dd>
        <%= @the_note.patient_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_note.user_id %>
      </dd>

      <dt>
        Service
      </dt>
      <dd>
        <%= @the_note.service_id %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @the_note.date %>
      </dd>

      <dt>
        Time
      </dt>
      <dd>
        <%= @the_note.time %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_note.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_note.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit note
    </h2>

    <form action="/modify_note/<%= @the_note.id %>"  method="post" >
      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body" value="<%= @the_note.body %>">
      </div>

      <div>
        <label for="patient_id_box">
          Patient
        </label>

        <input type="text" id="patient_id_box" name="query_patient_id" value="<%= @the_note.patient_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_note.user_id %>">
      </div>

      <div>
        <label for="service_id_box">
          Service
        </label>

        <input type="text" id="service_id_box" name="query_service_id" value="<%= @the_note.service_id %>">
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_note.date %>">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="time" id="time_box" name="query_time" value="<%= @the_note.time %>">
      </div>

      <button>
        Update note
      </button>
    </form>
  </div>
</div>

<hr>
