
<div class="container">
  <div class="row justify-content-space-between gap-5 pt-5">




    <div class="col-lg-8 col-md-12 mx-auto py-4">

      <div>
      <%= will_paginate @patients, class: "flickr_pagination" %>
        <table class="table table-hover table-striped table-fixed">
          <thead>
            <tr class="table-active">

              <th scope="col">
                First name
              </th>

              <th scope="col">
                Last name
              </th>

              <th scope="col">
                Most recent session
              </th>

              <th scope="col">
                Last provider
              </th>

              <th scope="col">
              </th>
            </tr>
          </thead>

          <tbody>
            <% @patients.each do |a_patient| %>
              <tr  class="table-secondary">

                <td>
                  <%= a_patient.first_name %>
                </td>

                <td>
                  <%= a_patient.last_name %>
                </td>

                <% last_note = a_patient.notes.order(:date => :asc).at(0) %>
                <% if last_note != nil %>
                  <td>
                    <%= last_note.date.strftime("%b %d, %Y") %>
                  </td>
                <% else %>
                  <td>
                    no recent notes
                  </td>
                <% end %>

                <% if last_note != nil %>
                  <td>
                    <%= a_patient.users.first.first_name %>
                  </td>
                <% else %>
                  <td>
                    no provider to display
                  </td>
                <% end %>

                <td>
                  <a href="/patients/<%= a_patient.id %>">
                    Show details
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
