
<div class="container">
  <div class="row justify-content-space-between pt-3">


<div class="row">
<div class="col-lg-4 my-2">
  <%= form_tag patients_path, method: :get, class: 'form-group input-group' do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for a patient", class: 'form-control' %>
        <div class="input-group-append">
<%= submit_tag "Search", class: 'btn btn-secondary', type: 'submit' %>
</div>

  <% end %>
  </div>
  
    <div class="col-lg-12 col-md-12 mx-auto py-2">
      <div>

      <%= will_paginate @patients, class: "flickr_pagination" %>


        <table class="table table-hover table-striped table-fixed align-middle">
          <thead>
            <tr class="table-secondary">

              <th scope="col">
                First name
              </th>

              <th scope="col">
                Last name
              </th>

              <th scope="col">
                Most recent session
              </th>

              <th scope="col">
                Last provider
              </th>
            </tr>
          </thead>

          <tbody>
            <% @patients.each do |a_patient| %>
              <tr  class="clickable" onclick="window.location='/patients/<%= a_patient.id %>';">

                <td>
                  <%= a_patient.first_name %>
                </td>

                <td>
                  <%= a_patient.last_name %>
                </td>

                <% last_note = a_patient.notes.order(:date => :asc).at(0) %>
                <% if last_note != nil %>
                  <td>
                    <%= last_note.date.strftime("%b %d, %Y") %>
                  </td>
                <% else %>
                  <td>
                    no recent notes
                  </td>
                <% end %>

                <% if last_note != nil %>
                  <td>
                    <%= a_patient.users.first.first_name %>
                  </td>
                <% else %>
                  <td>
                    no provider to display
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
