<div class="container">

<div class="row">
  <div class="col-6">
    <div class="mt-3">
      <a href="javascript:history.back()" class="btn btn btn-secondary btn-sm">
        Go back
      </a>
    </div>
  </div>
  
  <div class="col-6">
    <% if @current_user.admin == true %>
      <div class="text-end mt-3">
        <a href="/delete_patient/<%= @the_patient.id %>" class="btn btn-outline-danger mb-3">
          Delete patient
        </a>
      </div>
    <% end %>
  </div>
</div>


    <h3 class="text-center mb-3">
      Patient: <%= @the_patient.first_name %> <%= @the_patient.last_name %>
    </h3>



  <% if @current_user.admin == true %>
<div class="accordion col-lg-3 col-sm-6 mx-auto mb-5" id="patientAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="patientAccordionHeading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#patientAccordionCollapse" aria-expanded="true" aria-controls="patientAccordionCollapse">
          Edit patient
        </button>
      </h2>

      <div id="patientAccordionCollapse" class="accordion-collapse collapse" aria-labelledby="patientAccordionHeading" data-bs-parent="#patientAccordion">
        <div class="accordion-body">
          <form action="/modify_patient/<%= @the_patient.id %>" method="post">
            <div class="mb-3">
              <label for="first_name_box" class="form-label">First name</label>
              <input type="text" class="form-control" id="first_name_box" name="query_first_name" value="<%= @the_patient.first_name %>">
            </div>

            <div class="mb-3">
              <label for="last_name_box" class="form-label">Last name</label>
              <input type="text" class="form-control" id="last_name_box" name="query_last_name" value="<%= @the_patient.last_name %>">
            </div>

            <div class="mb-3">
              <label for="address_box" class="form-label">Address</label>
              <input type="text" class="form-control" id="address_box" name="query_address" value="<%= @the_patient.address %>">
            </div>

            <div class="mb-3">
              <label for="phone_number_box" class="form-label">Phone number</label>
              <input type="text" class="form-control" id="phone_number_box" name="query_phone_number" value="<%= @the_patient.phone_number %>">
            </div>

            <div class="mb-3">
              <label for="general_notes_box" class="form-label">General notes</label>
              <textarea class="form-control textarea-autosize" id="general_notes_box" name="query_general_notes"><%= @the_patient.general_notes %></textarea
            </div>

            <button type="submit" class="btn btn-primary">Update patient</button>
          </form>
        </div>
      </div>
    </div>
  <% else %>

   <div class="m-4">
    <p class="text-muted text-center">It looks like you're not an admin, so you can't edit this patient. If you would like to request changes to this patient information, please reach out to <%= @admin.first_name %> <%= @admin.last_name %>.</p>
  </div>
<% end %>
</div>
</div>




  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Personal Information</h5>
        </div>
        <div class="card-body">
          <p><strong>Address:</strong> <%= @the_patient.address %></p>
          <p><strong>Phone number:</strong> <%= @the_patient.phone_number %></p>


   <% last_session = @the_patient.services.order(:created_at => :desc).first %>
    <% last_coverage = last_session.coverage %>
    <% if last_coverage == "cash" %>
      <p><strong>Coverage:</strong> Self-pay</p>
<$ elsif last_coverage == "ins-full" %>
      <p><strong>Coverage:</strong> Insurance (full)</p>
<% else %>
<p><strong>Coverage:</strong> Insurance (partial)</p>
    <% end %>
          <p><strong>Added:</strong> <%= time_ago_in_words(@the_patient.created_at) %> ago</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">General Notes</h5>
        </div>
        <div class="card-body">
          <p><%= @the_patient.general_notes %></p>
        </div>
      </div>
    </div>
  </div>
</div>





<div>
<h3 class="text-center mb-3 mt-5">Patient's notes</h3>

<div>
<%= will_paginate @matching_notes, class: "flickr_pagination" %>
      </div>

      <div class="container">
        <table class="table table-hover table-striped table-fixed">
          <thead>
            <tr class="table-secondary text-center">
              <th scope="row">
                Date
              </th>

              <th scope="row">
                Service
              </th>

              <th scope="row">
                Note
              </th>

              <th scope="row">
                Provider
              </th>

              <th scope="row">
              </th>
            </tr>
          </thead>

          <tbody>
            <% @matching_notes.each do |a_note| %>
              <tr class="">
                <td>
                  <%= a_note.date.strftime("%b %d, %Y") %>
                </td>

                <td>
                 <%= a_note.service.duration %> min <%= a_note.service.title %>
                </td>

                <td>
                  <%= a_note.body.truncate(110, separator: ' ') %>
                </td>

                <td>
                 <%= a_note.user.first_name %>
                </td>

                <td>
                  <a href="/notes/<%= a_note.id %>">
                    Show details
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>


</div>



<script>
  // Initialize textarea-autosize library on textarea element
  var textarea = document.querySelector('.textarea-autosize');
  textareaAutosize(textarea);
</script>
