<div class="container">
    <div class="mb-3 mt-3">
        <a href="/patients">
          Go back
        </a>
    </div>


<div class="">
    <h3 class="text-center mb-5">
      Patient: <%= @the_patient.first_name %> <%= @the_patient.last_name %>
    </h3>
          <% if @current_user.admin == true %>
      <div>
        <a href="/delete_patient/<%= @the_patient.id %>">
          Delete patient
        </a>
      </div>
      <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Personal Information</h5>
        </div>
        <div class="card-body">
          <p><strong>Address:</strong> <%= @the_patient.address %>
          <p><strong>Phone number:</strong> <%= @the_patient.phone_number %>
          <p><strong>Added:</strong> <%= time_ago_in_words(@the_patient.created_at) %> ago
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">General Notes</h5>
        </div>
        <div class="card-body">
          <p><%= @the_patient.general_notes %></p>
        </div>
      </div>
    </div>
  </div>
</div>



<% if @current_user.admin == true %>
  <div>
    <h2>
      Edit patient
    </h2>

    <form action="/modify_patient/<%= @the_patient.id %>"  method="post" >
      <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name" value="<%= @the_patient.first_name %>">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name" value="<%= @the_patient.last_name %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_patient.address %>">
      </div>

      <div>
        <label for="phone_number_box">
          Phone number
        </label>

        <input type="text" id="phone_number_box" name="query_phone_number" value="<%= @the_patient.phone_number %>">
      </div>

      <div>
        <label for="general_notes_box">
          General notes
        </label>

        <input type="text" id="general_notes_box" name="query_general_notes" value="<%= @the_patient.general_notes %>">
      </div>

      <button>
        Update patient
      </button>
    </form>
  </div>
<% else %>
<div class="m-5">
It looks like you're not an admin, so you can't edit this patient. If you would like to request changes to this patient information, please reach out to <%= @admin.first_name %> <%= @admin.last_name %>.
</div>

<% end %>

</div>


<div>
<h3 class="text-center mb-3">Patient's notes</h3>

<div>
<%= will_paginate @matching_notes, class: "flickr_pagination" %>
      </div>

      <div class="container">
        <table class="table table-hover table-striped table-fixed">
          <thead>
            <tr class="table-active text-center">
              <th scope="row">
                Date
              </th>

              <th scope="row">
                Service
              </th>

              <th scope="row">
                Note
              </th>

              <th scope="row">
                Provider
              </th>

              <th scope="row">
              </th>
            </tr>
          </thead>

          <tbody>
            <% @matching_notes.each do |a_note| %>
              <tr class="table-secondary">
                <td>
                  <%= a_note.date.strftime("%b %d, %Y") %>
                </td>

                <td>
                 <%= a_note.service.duration %> min <%= a_note.service.title %>
                </td>

                <td>
                  <%= a_note.body.truncate(110, separator: ' ') %>
                </td>

                <td>
                 <%= a_note.user.first_name %>
                </td>

                <td>
                  <a href="/notes/<%= a_note.id %>">
                    Show details
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>


</div>
