<!-- 
Content:

- add a new patient

- edit a patient (users can only edit general notes; shows "updated_at")


 -->



  <!-- Main Content -->
  <div class="container my-4">
    <h1 class="text-center">Welcome to the Admin Page</h1>
    <div class="row my-4 mx-auto">
      <div class="col-md-4 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Patients</h5>
            <p class="card-text">You can add a new patient here:</p>

            <a href="/admin/patients/new" class="btn btn-primary mb-3">Add a new patient</a>

            <p class="card-text mt-3">Do you want to edit or delete a patient? Select patient's name below to visit their details page:</p>
<div class="dropdown btn-group">

  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Patient's name
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% Patient.all.order(:last_name).each do |a_patient| %>
    <li>
    <a class="dropdown-item" href="/patients/<%= a_patient.id %>">
    <%= a_patient.first_name %> <%= a_patient.last_name %>
    </a>
    </li>
    <% end %>

  </ul>
</div>

          </div>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Services</h5>
            <p class="card-text">Manage the services provided by your organization.</p>
            <a href="/services" class="btn btn-primary">Go to Services</a>
          </div>
        </div>
      </div>



      
      <div class="col-md-4 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Service Providers</h5>
            <p class="card-text">Manage providers' accounts and permissions.</p>

<hr>
<div>
<h5>Current Providers:</h5>
<% @users = User.order(:first_name) %>
<ul>
  <% @users.each do |user| %>
    <% unless user == @current_user %>
      <li><%= user.first_name %> <%= user.last_name %></li>
    <% end %>
  <% end %>
</ul>
</div>
<hr>

<div>
      <h5>Add a new service provider</h5>
				<form action="/insert_user" method="post">
  <div class="mb-3">
    <label for="email_box" class="form-label">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text" class="form-control">
  </div>
                 
  <div class="mb-3">
    <label for="first_name_box" class="form-label">First name</label>
      
    <input type="text" id="first_name_box" name="query_first_name" class="form-control">
  </div>
         
  <div class="mb-3">
    <label for="last_name_box" class="form-label">Last name</label>
      
    <input type="text" id="last_name_box" name="query_last_name" class="form-control">
  </div>
    
  <div class="mb-3">
    <label for="password_box" class="form-label">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password" class="form-control">
  </div>

  <div class="mb-3">
    <label for="password_confirmation_box" class="form-label">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password" class="form-control">
        <small id="password_confirmation_box" class="form-text text-muted">The provider will be able to change the password later.</small>
  </div>
  
  <button type="submit" class="btn btn-primary">Create User</button>
</form>


			</div>

      <hr>

			<div class="">
				<h5>Delete a service provider</h5>
				<form>
					<div class="mb-3">
						<label for="user_id" class="form-label">User ID</label>
						<input type="text" class="form-control" id="user_id">
					</div>
					<button type="submit" class="btn btn-danger">Delete User</button>
				</form>


          </div>
        </div>
      </div>
    </div>
  </div>




<script>
$('.dropdown-item').on('click', function() {
  window.location.href = $(this).attr('href');
});

</script>
