<!DOCTYPE html>
<html>
  <head>
    <title>CareLog</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

      <%= render "shared/cdn_assets" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>


  </head>

  <body>
<div>
  <%= render "shared/navbar" %>
  </div>

  <div>
    <%= render "shared/flashes" %>
    <%= yield %>
  </div>



<a href="/contact-us" id="contact-us-button" class="btn btn-sm btn-info position-fixed bottom-0 end-0 m-3 rounded-circle" style="box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);">
  <i class="bi-chat-text" style="font-size: 2rem; color: black;"></i>
</a>
  </body>
</html>
