<!DOCTYPE html>
<html>
  <head>
    <title>CareLog</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

      <%= render "shared/cdn_assets" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
<div>
  <%= render "shared/navbar" %>
  </div>

  <div>
    <%= render "shared/flashes" %>
    <%= yield %>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    console.log("JavaScript code executed")
    <% @threads.each do |thread_key, messages| %>
      var myDiv<%= thread_key[0] %>_<%= thread_key[1] %> = document.getElementById("myDiv<%= thread_key[0] %>_<%= thread_key[1] %>");
      myDiv<%= thread_key[0] %>_<%= thread_key[1] %>.scrollTop = myDiv<%= thread_key[0] %>_<%= thread_key[1] %>.scrollHeight;
    <% end %>
  });
</script>
  </body>
</html>
